/* Coolors Exported Palette - https://coolors.co/584b53-d8aa96-f1ffe7-629677-55828b-6096ba */

/* CSS HEX */
--dark-liver: #584b53ff;
--tumbleweed: #d8aa96ff;
--honeydew: #f1ffe7ff;
--russian-green: #629677ff;
--steel-teal: #55828bff;
--cerulean-frost: #6096baff;

/* CSS HSL */
--dark-liver: hsla(323, 8%, 32%, 1);
--tumbleweed: hsla(18, 46%, 72%, 1);
--honeydew: hsla(95, 100%, 95%, 1);
--russian-green: hsla(144, 21%, 49%, 1);
--steel-teal: hsla(190, 24%, 44%, 1);
--cerulean-frost: hsla(204, 39%, 55%, 1);

/* SCSS HEX */
$dark-liver: #584b53ff;
$tumbleweed: #d8aa96ff;
$honeydew: #f1ffe7ff;
$russian-green: #629677ff;
$steel-teal: #55828bff;
$cerulean-frost: #6096baff;

/* SCSS HSL */
$dark-liver: hsla(323, 8%, 32%, 1);
$tumbleweed: hsla(18, 46%, 72%, 1);
$honeydew: hsla(95, 100%, 95%, 1);
$russian-green: hsla(144, 21%, 49%, 1);
$steel-teal: hsla(190, 24%, 44%, 1);
$cerulean-frost: hsla(204, 39%, 55%, 1);

/* SCSS RGB */
$dark-liver: rgba(88, 75, 83, 1);
$tumbleweed: rgba(216, 170, 150, 1);
$honeydew: rgba(241, 255, 231, 1);
$russian-green: rgba(98, 150, 119, 1);
$steel-teal: rgba(85, 130, 139, 1);
$cerulean-frost: rgba(96, 150, 186, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-right: linear-gradient(90deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-bottom: linear-gradient(180deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-left: linear-gradient(270deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-top-right: linear-gradient(45deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-bottom-right: linear-gradient(135deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-top-left: linear-gradient(225deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-bottom-left: linear-gradient(315deg, #584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
$gradient-radial: radial-gradient(#584b53ff, #d8aa96ff, #f1ffe7ff, #629677ff, #55828bff, #6096baff);
